/*
*/
h1 	{
	  text-align:center;
	}
.login
	{
		background:rgba(128,0,0,0.9);
		text-align:center;
		color: DBC4BF;
		width:600px;
		margin:10px auto;
	}
.fld
	{
		width:400px;
		margin:10px;
		padding:10px;
		border-radius:10px;
		
	}
.fldx
	{
		width:190px;
		margin:10px;
		padding:10px;
		border-radius:10px;
		
	}
.btn 
	{
		border:none;
		background-color:silver;
		width:150px;
		margin:10px;
		padding:10px;
		border-radius:10px;
	}
a   {
	text-decoration:none;
	color:white;
    }
 .menubar{
	    text-align:center;
		background-color:#00cc99;
		}
		
.menubar ul 
       {
		display:inline-flex;
		list-style:none;
	   }
	   
.menubar ul li
       {
	    width:120px;
	    padding:15px;
	    margin:15px;
	   }
	   
.menubar ul li:hover
       {
		background-color:#ff6666;
		border-radius:10px;
	   }
	   
.menubar ul li a
       {
	    color:white;
		text-decoration:none;
	   }
	   
.submenu
       {
	    display:none;
		z-index:1;
	   }
	   
.menubar ul li:hover .submenu
       {
	    display:block;
		position:absolute;
		background:#00cc99;
		margin-top:15px;
		margin-left:-22px;
		border-radius:10px;
		text-align: center;
	   }
	   
.menubar ul li:hover .submenu ul
       {
		display:block;
		margin:10px;
	   }
.menubar ul li:hover .submenu ul li
       {
		width:80px;
		padding:10px;
		border-bottom:1px solid white;
	   }
